body {
    background-color:rgb(145, 70, 214)
}

img{width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
    z-index: 1;

}
  h1 {
      font-size: 30px;
      margin-bottom: 30px;
      position: absolute;
      top: 0%;
      left: 350px;
 }
   p{
    margin-top: 0px;
    font-size: 15px;
    
   }

   .escolaridade {
     font-size: 15px;
      margin-bottom: 10px;
      position: absolute;
      top: 45%;
      left: 350px;

   }
 .expe {
     font-size: 15px;
      margin-bottom: 10px;
      position: absolute;
      top: 15%;
      left: 350px;

   }

.end {
      font-size: 12px;
      margin-bottom: 30px;
      position: absolute;
      top: 8%;
      left: 350px;
 }

 .email {
      font-size: 12px;
      margin-bottom: 30px;
      position: absolute;
      top: 11%;
      left: 350px;
 }

  .cel {
      font-size: 12px;
      margin-bottom: 30px;
      position: absolute;
      top: 14%;
      left: 350px;
 }

 h2{
    font-size: 18px;
 }
 h3{
    font-size: 18px; 
}
 h4{
    font-size: 18px;
 }
 h5{
    font-size: 18px; 
}
